@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");

label {
  color: #f8f4e5;
}
label,
input {
  display: flex;
  width: 100%;
  font-size: 20px;
  line-height: 22px;
  font-family: "Spartan";
  padding-bottom: 8px;
  padding-top: 14px;
}
input {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 12px;
  outline: none;
}
span {
  font-size: 14px;
  /* font-weight: bold; */
  color: tomato;
}
input:focus {
  border: 1px solid #6bd4b1;
}
button {
  display: block;
  float: right;
  line-height: 35px;
  padding: 0 20px;
  border: none;
  background: #dfad4b;
  color: white;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;
  margin-top: 15px;
  cursor: pointer;
}
button:hover {
  background: inherit;
  color: #f45702;
  border-bottom: 2px solid #dfad4b;
}
