.App {
  text-align: center;
}
body{
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2044837-jpeg.jpg") center center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
 
}
.btn-lang{
  display: flex;
  justify-content: center;
  color: red;
}
label h1,h4{
  color: #52240d;
}

