.App {
  text-align: center;
}
body{
  background: url('./img/bg.jpeg') center center no-repeat; 
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  overflow: hidden;
 
}
.btn-lang{
  display: flex;
  justify-content: center;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.btn-lang .lang{
  margin-top: 0;
  margin: 0 10px;
}

label h1,h4{
  color: #52240d;
}

.monk-anima{
  position: absolute;
  bottom: 0;
  left: 0;
  animation: animatedMonk 11s alternate infinite ease-in-out;
  width: 130px;
}

@keyframes animatedMonk{
  from {
    left: 0;
  }
  to{
    left: 85%;
  }
}

body.swal2-height-auto{
  height: 100vh !important;
}